@(createTenantForm: Form[be.thomastoye.speelsysteem.models.Tenant], req: Request[AnyContent])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main(s"Create a new tenant") {
    @b3.form(CSRF(routes.TenantsController.createNewPost)(req)) {
        @b3.text( createTenantForm("tenantNormalizedName"), '_label -> "Tenant normalized name", 'placeholder -> "Normalized name" )
        @b3.submit('class -> "btn btn-default"){ Create }
    }
}
