@import services.AutoRemoteCouchDBConfig
@(tenant: be.thomastoye.speelsysteem.models.Tenant, autoRemoteCouchDBConfig: AutoRemoteCouchDBConfig, messages: Messages)

@import b3.inline.fieldConstructor

@main(s"Details for ${tenant.normalizedName}") {
    <h1>@tenant.normalizedName</h1>

    <h2>Databases</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Metadata database</td>
                <td><code>@tenant.metadataDatabaseName.value</code></td>
            </tr>

            @for(db <- tenant.dataDatabases) {
                <tr>
                    <td>Data database</td>
                    <td><code>@db.value</code></td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Database initialization</h2>

    @b3.form(routes.TenantsController.initializeDatabase(tenant.normalizedName)) {
        @b3.submit('class -> "btn btn-default"){ Initialize databases }(fieldConstructor, messages)
    }

    <h2>Sync to remote</h2>

    <p>
        Using the following URL to sync to: <code>@autoRemoteCouchDBConfig.uri</code>
    </p>

    <form method="post" action="@routes.TenantsController.syncTo(tenant.normalizedName)">
        <button type="submit" class="btn btn-warning">Start replication TO remote</button>
    </form>

    <h2>Sync from remote</h2>

    <p>Using the following URL to sync from: <code>@autoRemoteCouchDBConfig.uri</code></p>

    <form method="post" action="@routes.TenantsController.syncFrom(tenant.normalizedName)">
        <button type="submit" class="btn btn-warning">Start replication FROM remote</button>
    </form>

}
