@import services.AutoRemoteCouchDBConfig
@import helper._

@(tenant: be.thomastoye.speelsysteem.models.Tenant, autoRemoteCouchDBConfig: AutoRemoteCouchDBConfig, req: Request[AnyContent], messages: Messages)

@import b3.inline.fieldConstructor

@main(s"Details for ${tenant.normalizedName}") {
    <h1>@tenant.normalizedName</h1>

    <h2>Database</h2>

    Database name: <code>@tenant.databaseName</code>

    <h2>Database initialization</h2>

    @b3.form(CSRF(routes.TenantsController.initializeDatabase(tenant.normalizedName))(req)) {
        @b3.submit('class -> "btn btn-default"){ Initialize databases }(fieldConstructor, messages)
    }

    <h2>Sync to remote</h2>

    <p>
        Using the following URL to sync to: <code>@autoRemoteCouchDBConfig.uri</code>
    </p>

    @b3.form(CSRF(routes.TenantsController.syncTo(tenant.normalizedName))(req)) {
        @b3.submit('class -> "btn btn-warning"){ Start replication TO remote }(fieldConstructor, messages)
    }

    <h2>Sync from remote</h2>

    <p>Using the following URL to sync from: <code>@autoRemoteCouchDBConfig.uri</code></p>

    @b3.form(CSRF(routes.TenantsController.syncFrom(tenant.normalizedName))(req)) {
        @b3.submit('class -> "btn btn-warning"){ Start replication FROM remote }(fieldConstructor, messages)
    }

}
