@(tenant: be.thomastoye.speelsysteem.models.Tenant, results: Seq[com.ibm.couchdb.Res.DocOk])

@main(s"Initialized database for ${tenant.normalizedName}") {
    <table class="table table-striped">
        <thead>
            <tr><th>Ok</th><th><code>_id</code></th><th><code>_rev</code></th></tr>
        </thead>
        <tbody>
        @for(result <- results) {
            <tr>
                <td>
                    @if(result.ok) {
                        <span class="glyphicon glyphicon-ok"></span>
                    } else {
                        <span class="glyphicon glyphicon-remove"></span>
                    }
                </td>
                <td><code>@result.id</code></td>
                <td><code>@result.rev</code></td>
            </tr>
        }
        </tbody>
    </table>
}
